@use 'vars' as*;
@use 'mixins' as*;

button:focus {
    color: #011525;
    background-color: $heading-color;
    box-shadow: $shadow;
    outline: 1px solid $shadow;
}

button:hover, .btn-submit:hover {
    transform: scaleZ(6);
    font-size: 1.75rem;
}

.game-board {
    img:hover, img:focus {
        box-shadow: $shadow;
    }
}