/* Main Body Styles */
body {
    color: #d8d8cf;
    background-color: #191c19;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.75rem;
}

.site-wrap {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    display: flex;
    gap: 1.25rem;
    /* padding: 1rem;
    margin: 1rem; */
}

a, a:visited {
    color: #e6e2c7;
}

a:hover, a:active, a:focus {
    color: #191c19;
    background-color: #e6e2c7;
}

a:focus {
    outline: 1px dotted #e6e2c7;
}

li {
    list-style: none;
}

/* Header */
header, footer {
    background-color: #e6e2c7;
    color: #191c19;
}

header {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    box-shadow: 0px 0px 3px 3px #9d8963;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

.logo img {
    max-width: 6.25rem;
}

@media (min-width: 40rem) {
    .menu-toggle {
        display: none;
    }

    .logo img {
        size: 100%;
    }
}

/* Navigation */
.nav {
    display: none;
}

/* Main Content */
h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #9d8963;
    max-width: 60%;
    padding: 5rem 0rem;
    margin: 2rem auto;
}

p {
    max-width: 60%;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

/* Portfolio */
h2 {
    color: #191c19;
    background-color: #e6e2c7;
    padding: 1rem;
    margin: 1.5rem;
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 60%;
}

.projects-wrap a {
    margin: 0 auto;
    justify-content: center;
}

article {
    box-shadow: 0px 0px 3px 3px #9d8963;
    margin: 1rem;
}

.projects {
    padding-bottom: 3rem;
}

/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 40rem) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}