body {
    color: #d8d8cf;
    background-color: #191c19;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: .5em 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Header */
header {
    background-color: #e6e2c7;
    color: #191c19;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 5rem;
}

h1 {
    color: #e6e2c7;
    font-size: 2.5rem;
    border-bottom: 2px solid #9d8963;
}

/* Links */
a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1rem;
}

a, a:visited {
    color: #e6e2c7;
}

a:hover, a:active, a:focus {
    color: #191c19;
    background-color: #e6e2c7;
}

a:focus {
    outline: 1px dotted #e6e2c7;
}

li {
    list-style: none;
    margin-left: 0rem;
}

/* For large screens */
.site-wrap {
    max-width: 120rem;
    margin: 0 auto;
}

/* Menu button for mobile */
.menu-toggle {
    background: none;
    padding: 0rem 1;
    border: 1px solid #191c19;
    display: flex;
    align-items: center;
}

.nav {
    display: none;
}

/* Sidebar Navigation Menu */
@media (min-width: 43.75em) {
    .menu-toggle {
        display: none;
    }

    .nav {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    background-color: #e6e2c7;
    max-width: 15%;
    float: left;
    }

    .nav a, .nav a:visited {
    color: #191c19;
    }

    .nav a:hover, .nav a:active, .nav a:focus {
    background-color: #191c19;
    color: #e6e2c7;
    }

    .nav a:focus {
    outline: 1px dotted #191c19;
    }
}

/* Main Content */
p {
    max-width: 60%;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

/* Footer */
/* Need to fix the contact icons */
footer {
    color: #191c19;
    background-color: #e6e2c7;
    padding: 0;
}

.contact {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.contact a:hover, .contact a:active, .contact a:focus, .contact a:focus {
    outline: 1px dotted #191c19;
    background: none;
}