/* Main Body Styles */
body {
    color: #d8d8cf;
    background-color: #191c19;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

.site-wrap {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
    display: flex;
    gap: 1.25rem;
    padding: 1rem 2rem;
}

a, a:visited {
    color: #e6e2c7;
}

a:hover, a:active, a:focus {
    color: #191c19;
    background-color: #e6e2c7;
    transition-property: color, background-color;
    transition-duration: 2s;
}

a:focus {
    outline: 1px dotted #e6e2c7;
}

li {
    list-style: none;
}

/* Header */
header, footer {
    background-color: #e6e2c7;
    color: #191c19;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    box-shadow: 0px 0px 3px 3px #9d8963;
    scroll-padding-top: 3rem;
    scroll-behavior: smooth;
}

header li {
    color: #e6e2c7;
    background-color: #191c19;
    border: 1px solid #191c19;
    border-bottom: none;
}

h1 img {
    max-width: 6.5rem;
    margin-left: 1rem;
}

h1 a{
    transform: translateY(20%);
}

.site-nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.group {
    display: none;
}

button {
    border: none;
    background-color: transparent;
    margin: 2rem;
}

.nav {
    position: relative;
    margin-right: 2rem;
}

#header-menu {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1000;
}

#header-menu.toggled {
    display: block;
    border: 1px solid #9d8963;
    padding: 0;
    margin: 0;
}

/* Full Screen Style */
@media (min-width: 40rem) {
    button {
        display: none;
    }

    #header-menu {
        display: flex;
        position: revert;
    }

    .nav {
        position: revert;
    }

    h1 img {
        max-width: 100%;
        margin-left: 2rem;
    }

    .group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        margin-right: 2rem;
        transform: translateY(29%);
        z-index: -1000;
    }

    header h1 a:focus {
        background-color: #9d8963;
        border: none;
    }
}

/* Main Content */
p {
    max-width: 60%;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

/* Portfolio */
h2 {
    font-size: 2.5rem;
    background-color: #191c19;
    color: #e6e2c7;
    padding-top: 6rem;
    margin: 2rem auto;
    border-bottom: 2px solid #9d8963;
    max-width: 60%;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

.projects-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 3rem auto;
    max-width: 60rem;
}

.projects-wrap a {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
}

article {
    box-shadow: 0px 0px 3px 3px #9d8963;
    margin: 1.5rem;
}

.projects {
    padding-bottom: 3rem;
}

/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer a {
    padding: 0;
}

header a:focus, footer a:focus {
    border: 1px dotted #191c19;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 0 auto;
}

@media (min-width: 40rem) {
    footer {
        display: flex;
        justify-content: space-between;
    }
}